<!DOCTYPE html>
<html>
  <body>
    <h1>Today</h1>
    <% daynames = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
    <% t = Time.now %>
    <% "<p>The date is #{daynames[t.wday]}, 
  </body>
</html>